<link type="text/css" rel="stylesheet" href="../../components/artifact/css/Artifact.css" />

<div class="flc-screenNavigator-navbar fl-navbar fl-table">
    <div class="fl-table-row">              
        <a href="explore_collections_costumes.html" class=" flc-screenNavigator-backButton fl-table-cell fl-button fl-button-left fl-backButton"><span class="fl-button-inner">Costume</span></a>
        <h1 class="fl-table-cell artifact-name">Flip browser</h1>
      <ul class="fl-table-cell fl-tabs">
          <li><a href="#" title="Previous">&#9650;</a></li>
          <li><a href="#" title="Next">&#9660;</a></li>
      </ul>
    </div>
</div>

<div class="fl-artifact-flip-container">
	
	<div class="fl-container-auto fl-artifact-flip-transition">

        <!-- Image of the artifact -->
        <div class="fl-artifact-side fl-artifact-front">
            <img src="../images/Snuffbox.jpg" alt="" class="" />
            <a href="#"></a>
        </div>

        <div class="fl-artifact-side fl-artifact-back">
			
            <!--Start panel for tags-->
            <div class="fl-collapsingPanel fl-artifact-panel-animation fl-artifact-panel-hidden">
                <h2 class="flc-artifact-panel-tags-title ">Tags</h2>
                <div class="flc-artifact-panel-tags-content">
                    <a href="#">Tag</a><a href="#">This</a><a href="#">Is</a><a href="#">A Tag</a>           
                    <input type="text" value="Search" />
                </div>
            </div>

	        <a class="fl-button fl-button-white fl-bevel-white " href="#addToFavourites">Add favourite</a>
	        <a class="fl-button fl-button-white fl-bevel-white " href="#addToFavourites">Add favourite</a>

        </div>

	</div>
</div>
<script type="text/javascript">
    $(".fl-artifact-side").click(function(){
        $(".fl-artifact-flip-transition").toggleClass("fl-flipped");
    });
</script>