.fl-cabinet-handle.fl-cabinet-headerWithDescription {
    padding: 0px 10px;
}

.fl-collapsable {
	margin: 12px;
}
.fl-cabinet-drawerClosed {
	max-height:50px;
}

.fl-cabinet-animation {
    -webkit-transition: max-height 0.75s ease-in;
}
.fl-collapsingPanel.fl-cabinet-drawerClosed > *:first-child {
	-webkit-border-radius:8px;
}

