.fl-theme-engageMobile .fl-navigationList .fl-list-menu li {
    margin:0;
    border-top:none;
}
.fl-theme-engageMobile .fl-navigationList .fl-list-menu li .fl-navigationList-title {
    display:inline-block;
}
.fl-theme-engageMobile .fl-navigationList .fl-list-menu li .fl-link-summary {
    font-size:1em;
    color:inherit;
}
.fl-theme-engageMobile .fl-navigationList .fl-list-menu li .fl-navigationList-title,
.fl-theme-engageMobile .fl-navigationList .fl-list-menu li .fl-link-summary {
    width:85%;
    overflow:hidden;
    text-overflow:ellipsis;
    white-space:nowrap;
}
.fl-theme-engageMobile .fl-navigationList .fl-list-menu li .fl-engage-badge-icon ~ .fl-navigationList-title,
.fl-theme-engageMobile .fl-navigationList .fl-list-menu li .fl-engage-badge-icon ~ .fl-link-summary {
    width:72%;
}
.fl-theme-engageMobile .fl-navigationList .fl-grid .fl-grid-caption {
    margin:0;
    overflow:hidden;
    text-overflow:ellipsis;
    white-space:nowrap;
}
.fl-theme-engageMobile .fl-navigationList .fl-list-menu a .fl-engage-badge-icon {
    background:url('../images/media-badge.png') no-repeat center center;
}
.fl-theme-engageMobile .fl-navigationList .fl-grid li .fl-navigationList-wrapper {
    display:table;
    margin:0 10px 0 0;
}
.fl-theme-engageMobile .fl-navigationList .fl-grid li .fl-navigationList-wrapper a {
    display:table-cell;
    vertical-align:middle;
}
