.fl-navbar {
	min-height:35px;
	padding:5px 0;	
}
.fl-navbar .fl-button {
	margin-right:10px;
}
.fl-navbar .fl-button img {
	height: 25px;
	margin-bottom: -5px;
	padding: 0px;
}
.fl-navbar .fl-backButton {
	padding: 0px;
	margin:0 5px;
}
.fl-navbar .fl-backButton img {
	margin-bottom: -3px;
}
.fl-navbar .fl-navbar-title {
	overflow:hidden;
	text-overflow:ellipsis;
	white-space:nowrap;
}
[class*=fl-container] [class*=fl-list] > li:first-child,
[class*=fl-container] [class*=fl-list] > li:first-child a {
	-webkit-border-radius:0;
}
[class*=fl-container] [class*=fl-list] > li:last-child,
[class*=fl-container] [class*=fl-list] > li:last-child a {
	-webkit-border-radius:0;
}
[class*=fl-container] [class*=fl-list]:not(.fl-thumbnails-expanded) > li a .fl-icon {
	-webkit-border-radius:0;
}
.fl-container-autoHeading > *:first-child {
	-webkit-border-radius:0;
}
/* The last element found becomes the "content" - list or otherwise */
.fl-container-autoHeading > *:last-child {
	-webkit-border-radius:0;
}
.fl-container-autoHeading [class*=fl-list] > li:first-child:last-child,
.fl-container-autoHeading [class*=fl-list] > li:first-child:last-child a {
	-webkit-border-radius:0;
}
/* Collapsing and expanding panels */
.fl-container-collapsable {	
	-webkit-border-radius:0px;
}
