<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;" />
        <meta name="apple-mobile-web-app-capable" content="yes" />
        <title>Guestbook</title>
        
        <link type="text/css" rel="stylesheet" href="../../../../fluid-infusion/src/webapp/framework/fss/css/fss-layout.css" />
        <link type="text/css" rel="stylesheet" href="../../../../fluid-infusion/src/webapp/framework/fss/css/fss-text.css" />
        <link type="text/css" rel="stylesheet" href="../../../../fluid-infusion/src/webapp/framework/fss/css/fss-transitions.css" />
        <link type="text/css" rel="stylesheet" href="../../../../fluid-infusion/src/webapp/framework/fss/css/fss-mobile-layout.css" />
        <link type="text/css" rel="stylesheet" href="../../../../fluid-infusion/src/webapp/framework/fss/css/fss-mobile-theme-iphone.css" />
        <link type="text/css" rel="stylesheet" href="../css/guestbook.css" />
        
        <script type="text/javascript" src="../../../../fluid-infusion/src/webapp/lib/jquery/core/js/jquery.js"></script>
        <script type="text/javascript" src="../../../../fluid-infusion/src/webapp/framework/core/js/Fluid.js"></script>
        <script type="text/javascript" src="../../../../fluid-infusion/src/webapp/framework/core/js/FluidDOMUtilities.js"></script>
        <script type="text/javascript" src="../../../../fluid-infusion/src/webapp/framework/core/js/DataBinding.js"></script>
        <script type="text/javascript" src="../../../../fluid-infusion/src/webapp/framework/renderer/js/fluidParser.js"></script>
        <script type="text/javascript" src="../../../../fluid-infusion/src/webapp/framework/renderer/js/fluidRenderer.js"></script>
        <script type="text/javascript" src="../../../../fluid-infusion/src/webapp/lib/fastXmlPull/js/fastXmlPull.js"></script>
        
        <script type="text/javascript" src="../../../../fluid-engage-core/framework/js/engageClientUtils.js"></script>
        <script type="text/javascript" src="../../../../fluid-engage-core/components/guestbook/js/guestbook.js"></script>
        <script type="text/javascript" src="../../../../fluid-engage-core/components/preview/js/Preview.js"></script>
        <script type="text/javascript" src="../../../../fluid-engage-core/framework/js/loadData.js"></script>
        <script type="text/javascript" src="../../../../fluid-engage-core/framework/js/iPhoneChromeless.js"></script>
    </head>   
    <body class="fl-theme-iphone">
        <div class="flc-guestbook-container" >
            <div class="fl-navbar fl-table">
                <h1 class="flc-browse-title fl-table-cell"></h1>
                <a class="flc-browse-navlist-toggle" href="#">TOGGLE</a>
            </div>
            <div class="flc-guestbook-addNote fl-guestbook-addNote fl-centered">
               <label for="fl-addNote" class="flc-guestbook-addNoteText fl-guestbook-title">Add a note</label>
               <a href="#"><img id="fl-addNote" src="../images/addnote.png" class="flc-addnote-control" /></a>
            </div>
            <div class="flc-guestbook-comment-cell">
                <span class="flc-guestbook-author fl-guestbook-author">Robert Brown</span>
                <span class="flc-guestbook-location fl-guestbook-location">Washington, DC,</span>
                <span class="flc-guestbook-date fl-guestbook-date">July 16, 2009</span>
                <span class="flc-guestbook-text fl-guestbook-text">I had such an amazing time at this
                exhibit! Really loved the red sleigh especially. I had one just like it growing up</span>
                <a class="flc-guestbook-action fl-guestbook-action">REPORT ABUSE</a>
            </div>
        </div>
        <script id="flc-initBlock" type="text/javascript">
            fluid.engage.initComponentWithLocalData("fluid.engage.guestbook", ".flc-guestbook-container");
        </script>
    </body>
</html>