.fl-list-thumbnails > li:not(:last-child) {
	margin-bottom: 0px;
	border-bottom: none;
}

.fl-theme-iphone .fl-list a {
    color: rgb(0, 0, 0);
    font-size: 0.7em;
}

.fl-theme-iphone [class*="fl-list"] > li .fl-link-summary {
    color: rgb(0, 0, 0);
    font-size: 1em;
}

.fl-list-thumbnails.fl-thumbnails-expanded.fl-grid li {
    margin: 4px;	
}
	
.fl-table-cell .fl-navigationList-title {
    display: none;
}

.fl-table-cell .fl-link-summary.fl-navigationList-description {
    display: none;
}

.fl-list.fl-list-thumbnails > li a .fl-icon {
    height: 48px;
    width: 48px;
}

.fl-list-thumbnails.fl-grid li {
    overflow: hidden;
}

.fl-engage-badged-thumbnail {
    position: relative;
}

.fl-engage-badge-icon {
    position: absolute;
    bottom: 7px;
    left: 20px;
}