.fl-navigationList {
}
.fl-navigationList .fl-icon {
    width:64px;
    height:64px;
    float:left;
}
.fl-navigationList .fl-list-menu .fl-grid-caption {
    display:none;
}
.fl-navigationList .fl-list-menu li .fl-navigationList-wrapper {}
.fl-navigationList .fl-list-menu li .fl-navigationList-wrapper a {
    font-size:12px;
    position:relative;
}
.fl-navigationList .fl-list-menu a .fl-engage-badge-icon {
    position:absolute;
    bottom:0;
    top:0px;
    width:30px;
    right:15px;
}
.fl-navigationList .fl-grid {
    border:none;
}
.fl-navigationList .fl-grid a .fl-engage-badge-icon {
    height:30px;
    bottom:25px;
    right:15px;
    top:auto;
}
.fl-navigationList .fl-grid li {
    border-bottom:1px solid;
}
.fl-navigationList .fl-grid li .fl-navigationList-wrapper a .fl-navigationList-title {
    display:none;
}
.fl-navigationList .fl-grid li .fl-navigationList-wrapper a .fl-link-summary {
    display:none;
}
.fl-navigationList .fl-grid .fl-grid-caption {
    display:block;
}