.fl-myCollection-empty {
    height: 100%;
    margin: auto;
    text-align: center;
}

.fl-myCollection-loading .flc-myCollection-imageContainer {
    display: none;
}

.fl-myCollection-loading .fl-myCollection-loadMessage {
    display: block;
    text-align: center;
    margin-top: 100px;
}

.fl-myCollection-loadMessage {
    display: none;
}

.fl-myCollection-emptyStatus {
    white-space: normal;
    padding-top: 100px;
}

.fl-myCollection-navigationList-link {
    display: none;
}

.fl-myCollection-actionPanel {
    width: 100%;
}

.fl-myCollection-actionButtons {
    height: 45px;
    padding-left: 5px; 
    display: table-cell;
    vertical-align: middle;
}

.fl-myCollection-actionButtons a.fl-myCollection-action-button {
    padding: 5px 10px 5px 30px;
    border-style:solid;
    border-width: 2px;
    text-align: center;
    margin: auto;
}

.fl-myCollection-dialogContainer {
    overflow: hidden;
}

.fl-myCollection-sendMailDialog {
    display: none;
    padding: 55px 10px 0 10px;
    width: 100%;
    margin: auto;
}

.ui-dialog-buttonpane {
    margin-bottom: 75px;
    padding-right: 8px;
    float:right
}

.ui-dialog-buttonpane button {
    font-size: 14px;
    -webkit-border-bottom-left-radius: 10px 10px;
    -webkit-border-bottom-right-radius: 10px 10px;
    -webkit-border-top-left-radius: 10px 10px;
    -webkit-border-top-right-radius: 10px 10px;
    padding: 5px 5px 5px 5px;
    text-decoration:none;
    font-weight:bold;
}

.fl-myCollection-sendEmailInput {
    width: 300px;
    font-size: 16px;
    padding: 8px 0 8px 5px;
    -webkit-border-bottom-left-radius: 10px 10px;
    -webkit-border-bottom-right-radius: 10px 10px;
    -webkit-border-top-left-radius: 10px 10px;
    -webkit-border-top-right-radius: 10px 10px;
}

/*************** Engage theme for component ********************************/
.fl-theme-engageMobile .fl-myCollection-actionPanel {
    background: #F5F5F5;
}
.fl-theme-engageMobile .fl-myCollection-actionButtons a.fl-myCollection-action-button {
    color: #FFFFFF;
    border-color: #000000;
    -webkit-border-image: none;
}
.fl-theme-engageMobile .fl-myCollection-send {
    background: url(../../../shared/images/send.png) no-repeat left,
        -webkit-gradient(linear, left top, right bottom, from(#A6A6A6), to(#C8C8C8));
}
.fl-theme-engageMobile .fl-myCollection-dialogContainer {
    background-color: rgba(62, 62, 62, 0.9);
}
.fl-theme-engageMobile .fl-myCollection-sendMailDialog {
    color: white;
}
.fl-theme-engageMobile .ui-dialog-buttonpane button {
    color: #4D4D4D;
    background: #F5F5F5;
    border-color: rgba(62, 62, 62, 0.9);
}