.fl-myCollection-empty {
    height: 100%;
    margin: auto;
    text-align: center;
}

.fl-myCollection-loading .flc-myCollection-imageContainer {
    display: none;
}

.fl-myCollection-loading .fl-myCollection-loadMessage {
    display: block;
    text-align: center;
    margin-top: 100px;
}

.fl-myCollection-loadMessage {
    display: none;
}

.fl-myCollection-emptyStatus {
    white-space: normal;
    line-height: 400px;
}