.fl-guestbook-addnote {
    height: 48px;
}

/* Image must be specified in background like this since URLs are not 
 * yet rewritten in dependent templates */
.fl-guestbook-addnote-control {
    height: 24px;
    width: 28px;
    background-image: url("../images/addnote.png");
    display: inline-block
}

.fl-guestbook-header {
    color: #666;
    }
    
.fl-guestbook-author {
    color: #000;
    }
    
.fl-guestbook-slash-after:after {
    color: #666;
    content: " / ";
    }
    
.fl-guestbook-comment-cell {
    padding: 2px;
    border-bottom: 1px solid #aaa;
}

.fl-guestbook a {
    text-decoration: underline;
    cursor: Pointer;
    }

.fl-guestbook-textarea-height {
    height: 10em;
    }

.fl-guestbook-textarea-width {
    width:90%;
    }
