<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
  <head>
    <meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <title>Import documents</title>
        
    <link href="../../../../fluid-infusion/src/webapp/framework/fss/css/fss-mobile-layout.css" rel="stylesheet" />
    <link href="../../../../fluid-engage-core/components/import/css/import.css" rel="stylesheet" />
    
        <script type="text/javascript" src="../../../../fluid-infusion/src/webapp/lib/jquery/core/js/jquery.js"></script>
        <script type="text/javascript" src="../../../../fluid-infusion/src/webapp/framework/core/js/Fluid.js"></script>
        <script type="text/javascript" src="../../../../fluid-infusion/src/webapp/framework/core/js/FluidDOMUtilities.js"></script>
        <script type="text/javascript" src="../../../../fluid-infusion/src/webapp/framework/core/js/DataBinding.js"></script>
        <script type="text/javascript" src="../../../../fluid-infusion/src/webapp/framework/renderer/js/fluidParser.js"></script>
        <script type="text/javascript" src="../../../../fluid-infusion/src/webapp/framework/renderer/js/fluidRenderer.js"></script>
        <script type="text/javascript" src="../../../../fluid-infusion/src/webapp/lib/fastXmlPull/js/fastXmlPull.js"></script>
                 
        <script type="text/javascript" src="../../../../fluid-engage-core/components/import/js/import.js"></script>
        
  </head>

  <body style="padding:10px; background-color: #000000">
    <h1>Data Import Tool</h1>
    <h3>Select a data set for data import</h3>
    <br/>
    <form class="flc-import-root">
        <label for="databaseUrl">Database URL: </label>
          <input id="databaseUrl" size="80" type="text" value="http://titan.atrc.utoronto.ca:5984" />
          <br/>
        <label for="databaseName">Database Name: </label>
           <input id="databaseName" type="text" value="testDatabase" />
        <br/>
        <label for="typeField">Apply type field: </label>
          <input id="typeField" type="text" value="" />
        <br/>
        <label for="deleteExisting">Delete existing records: </label>
          <input id="deleteExisting" type="checkbox" /> <span class="warning">Warning: if no type field is supplied, this will drop the entire database!</span>
        <br/>
        <label for="idPath">Derive ID from document path: </label>
          <input id="idPath" type="text" value="" />
        <br/> 
        <label for="dataSource">List of URLs or directory of XML files:</label><br/>
          <textarea id="dataSource" rows="10" cols="80"></textarea>
        <br/>
        <input class="flc-import-submit" type="submit" value="Submit documents"/>
    </form>
    <script class="flc-import-init-block">
       fluid.engage.importer.view(".flc-import-root");
    </script> 
  </body>
</html>