.fl-theme-iphone {
    background: rgb(255,255,255);
}

.fl-list-thumbnails.fl-grid {
    padding-top: 20px;
    padding-left: 10px;
}

.fl-list-thumbnails.fl-grid li {
    width: 100px;
    height: 100px;
}

.fl-list-thumbnails.fl-grid li .fl-table {
    width: 84px;
}

.fl-list-thumbnails.fl-grid li .fl-grid-caption {
    width: 84px;    
}

.fl-list-thumbnails.fl-grid li a {
    background-color: rgb(255,255,255);
}