.flc-myCollection-image {
    background  : #eee;
    border  	: 1px solid #CCC;
    margin      : 5px;
    padding     : 15px;
    text-align  : center;
    display     : inline;
    float       : left; 
    width		: 96px;
    height		: 96px;
}

.fl-browse-loading .fl-myCollection-contents {
    display		: none;
}

.fl-browse-loading .flc-myCollection-toggler {
	display		: none;
}

.fl-clickable {
	cursor		: pointer;
}