/*
#image-grid {
    width   : 900px;
}

#image-grid img {
    background  : #eee;
    border  	: 1px solid #CCC;
    margin      : 5px;
    padding     : 15px;
    text-align  : center;
    display     : inline;
    float       : left; 
    width	: 64px;
    height	: 64px;
}
*/
.fl-browse-loading .fl-myCollection-contents {
    display	: none;
}