.fl-exhibition .fl-exhibition h2 {
    font-size:1em;
}
.fl-theme-engageMobile .fl-exhibition h3 {
    margin:-6px 0 0;
    padding-bottom:6px;
}
.fl-exhibition .fl-exhibition-shortDescription {
    font-weight:normal;
}
.fl-exhibition .fl-list > li {
    padding-right:12px;
}
.fl-exhibition .fl-list > li.fl-navigationList {
    padding-left:0;
}
.fl-exhibition .fl-list > li.fl-navigationList h3 {
    padding-left:12px;
}
.fl-exhibition .fl-list > li .fl-button {
    padding:5px 8px;
    float:right;
    font-size:12px;
}
.fl-exhibition .fl-list > li .fl-button::after {
    content: ">"; /* url to use ">" image */
}
/*************** Engage theme for component ********************************/
.fl-theme-engageMobile .fl-exhibition h2,
.fl-theme-engageMobile .fl-exhibition h3 {
    color:#000;
}
.fl-theme-engageMobile .fl-exhibition .fl-exhibition-shortDescription {
    color:#999;
}
.fl-theme-engageMobile .fl-exhibition .fl-list > li {
    background: -webkit-gradient(linear, left top, left bottom, from(#EBEBEB), to(#fff), color-stop(0.35, #fff));
    border-top:1px solid #ccc;
}
.fl-exhibition .fl-list > li .fl-button {
    border:2px solid #999;
    -webkit-border-image:none;
    background: -webkit-gradient(linear, left top, left bottom, from(#EBEBEB), to(#f1f1f1));
}