.fl-artifact-image-content {
    width: 100%;
}

.fl-artifact-image-cell {
    height: 240px;
    witdth: 100%;
    text-align: center;
}

.fl-artifact-description {
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 30px;
}

.fl-artifact-title {
    padding-left: 5px;
    padding-right: 5px;
}

.fl-artifact-info {
    padding-left: 10px;
}

.fl-artifact-image {
    max-height: 240px;
    max-width: 100%;
	display:block;
	margin:auto;
}

.fl-artifactView-hidden-icons {
    display: none;
}

.fl-artifact-actionPanel {
    width: 100%;
}

.fl-artifact-actionButtons {
	height: 45px;		
	padding-left: 5px;	
    display: table-cell;
    vertical-align: middle;
}

.fl-artifact-actionButtons a.fl-artifact-action-button {
    padding: 5px 10px 5px 30px;
    border-style:solid;
    border-width: 2px;
    -webkit-border-image: none;
	text-align: center;
	margin: auto;
}


a.fl-artifact-collect-status {
    display: none;
    width: 100%;
    margin: auto;    
	position: absolute;
	top: 90px;
	padding-top: 10px;
	padding-bottom: 10px;
	text-align: center;
}

/*************** Engage theme for component ********************************/
.fl-theme-engageMobile .fl-artifact-image-cell {
    background: -webkit-gradient(radial, 50% 50%, 0, 50% 50%, 200, from(#ccc), to(#000));
}
.fl-theme-engageMobile .fl-artifact-actionPanel {
    background: #F5F5F5;
}
.fl-theme-engageMobile .fl-artifact-actionButtons a.fl-artifact-action-button {
    color: #FFFFFF;
    border-color: #000000;
}
.fl-theme-engageMobile .fl-artifact-uncollect {
    background: url(../../../shared/images/uncollect.png) no-repeat left,
        -webkit-gradient(linear, left top, right bottom, from(#9E9D79), to(#C6C5A1));
}
.fl-theme-engageMobile .fl-artifact-collect {
    background: url(../../../shared/images/collect.png) no-repeat left,
        -webkit-gradient(linear, left top, right bottom, from(#A6A6A6), to(#C8C8C8));
}
.fl-theme-engageMobile .fl-artifact-comment {
    background: url(../../../shared/images/comment.png) no-repeat left,
        -webkit-gradient(linear, left top, right bottom, from(#A6A6A6), to(#C8C8C8));
}
.fl-theme-engageMobile a.fl-artifact-collect-status {
    color: white;	
	background-color: rgba(62, 62, 62, 0.5);
}