.fl-description {
    position:relative;
}
.fl-description-hide {
	max-height: 40px;
}

.fl-description-show {
	max-height: 1000px;
}

.fl-description-content {
	overflow: hidden;
    margin-right: 19px;
    margin-left: 5px;
}

.fl-description-togglerCollapse {
    background-image: url("../images/collapse.png");  
}

.fl-description-togglerExpand {
    background-image: url("../images/expand.png");
}

.fl-description .fl-icon {
    height: 19px;
    width: 19px;
    position:absolute;
    bottom:0;
    right:0;
}
