.fl-artifact {
    
}
.fl-artifact > * > * > .fl-container-auto {
    padding:0 10px;
}

.fl-artifact-thumbnail {
    width:50%;
    margin: 0 10px 10px 0;
}

.fl-artifact-quickInfo {
    list-style:none;
    padding:0;
    margin:10px 0 0;
    font-size:0.82em;
}
.fl-artifact-tags {
    background-color:rgba(207,213,221,.5);
    border-top:none;
    -webkit-border-radius-bottom:8px;
}

.fl-artifact-tags a {
    color:#fff;
    padding:4px 5px;
    margin:0 2px;
    background-image: -webkit-gradient(linear, left top, left bottom, 
        from(#8391AF), 
        to(#4C566C)
    );
    -webkit-border-radius:2px; 
}

.fl-artifact-imagepair {
    width:50%;
    margin: 10px 10px 0 10px;
}

.fl-artifact-panel-animation {
    -webkit-transition: max-height 0.75s ease-out;
	max-height:640px;
    overflow:hidden;
}
.fl-artifact-panel-hidden {
    max-height:36px;
}

/* 3D Image Flipping with preservation of aspect ratio */
.fl-artifact-flip-container {
	-webkit-perspective: 600;
    width:100%;
	height:433px;
	background-color:rgba(0,0,0,0.5);
	margin-top:-12px;
}
[orientation^=landscape] .fl-artifact-flip-container {
	height:260px;
}

.fl-artifact-flip-transition {
	width:100%;
	height:100%;
	-webkit-transform-style: preserve-3d;	
	-webkit-transition-property: -webkit-transform;
	-webkit-transition-duration: 1s;
}
.fl-artifact-flip-transition.fl-flipped {
	-webkit-transform: rotateY(180deg);
}

.fl-artifact-side {
	position:absolute; 
    height:100%;
	width:100%;
    -webkit-backface-visibility: hidden;
}

.fl-artifact-front {background-color:#ccc;}
.fl-artifact-front img {display:block; margin:auto; max-width:320px; max-height:433px; /*-webkit-box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.5);*/}
[orientation^=landscape] .fl-artifact-front img {max-width:480px; max-height:260px;}

.fl-artifact-front a {
	display:block;
	position:absolute; 
	bottom:20px; 
	right:10px;	 
	width:48px; 
	height:48px;
    border: 1px solid #364F31;
    color:#fff;
    text-decoration:none;
	font-size:48px;
	text-align:center;
	-webkit-border-radius:24px;
    background:-webkit-gradient(radial, center top, 10, center center, 50, from(#89EF77), to(#137F00));
}

.fl-artifact-back {-webkit-transform: rotateY(180deg);}
.fl-artifact-back .fl-button {display:block;}

