<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1"></meta>
		<meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;"></meta>
		<meta name="apple-mobile-web-app-capable" content="yes"></meta>
		
		<title>My Collection</title>
		
        <link type="text/css" rel="stylesheet" href="../../../../fluid-infusion/src/webapp/framework/fss/css/fss-layout.css" ></link>
        <link type="text/css" rel="stylesheet" href="../../../../fluid-infusion/src/webapp/framework/fss/css/fss-mobile-layout.css" ></link>
        <link type="text/css" rel="stylesheet" href="../../../../fluid-infusion/src/webapp/framework/fss/css/fss-mobile-theme-iphone.css" ></link>
        <link type="text/css" rel="stylesheet" href="../../../../fluid-engage-core/shared/css/engage-mobile.css" />
        <link type="text/css" rel="stylesheet" href="../../../../fluid-engage-core/components/navigationBar/css/NavigationBar.css" />
        <link type="text/css" rel="stylesheet" href="../../../../fluid-engage-core/components/navigationList/css/NavigationList.css" />        
		<link type="text/css" rel="stylesheet" href="../../../../fluid-engage-core/components/myCollection/css/myCollection.css" ></link>

		<script type="text/javascript" src="../../../../fluid-infusion/src/webapp/lib/jquery/core/js/jquery.js"></script>
        <script type="text/javascript" src="../../../../fluid-infusion/src/webapp/framework/core/js/Fluid.js"></script>
        <script type="text/javascript" src="../../../../fluid-infusion/src/webapp/framework/renderer/js/fluidParser.js"></script>
        <script type="text/javascript" src="../../../../fluid-infusion/src/webapp/framework/renderer/js/fluidRenderer.js"></script>
        <script type="text/javascript" src="../../../../fluid-infusion/src/webapp/lib/fastXmlPull/js/fastXmlPull.js"></script>        

		<script type="text/javascript" src="../../../../fluid-engage-core/framework/js/loadData.js"></script>
        <script type="text/javascript" src="../../../../fluid-engage-core/framework/js/engageClientUtils.js"></script>		
        <script type="text/javascript" src="../../../../fluid-engage-core/components/navigationBar/js/NavigationBar.js"></script>
        <script type="text/javascript" src="../../../../fluid-engage-core/components/navigationList/js/NavigationList.js"></script>
   		<script type="text/javascript" src="../../../../fluid-engage-core/components/myCollection/js/MyCollectionView.js"></script>
		
	</head>
	<body class="flc-myCollection fl-theme-iphone">
<!--		<div class="flc-myCollection fl-myCollection-loading">-->
		<div class="flc-myCollection-container">
					
		    <!-- Navigation Bar and Header -->
            <div class="flc-navigationBar fl-navbar fl-col-mixed">
                <!-- Back button -->
                <div class="fl-col-fixed fl-force-left">
                    <a rsf:id="scr=null" class="flc-navigationBar-back fl-button fl-backButton" href="#">
                        <img class="fl-button-inner fl-button-icon" src="../../../../fluid-engage-core/shared/images/back.png" alt="Go back"/>
                    </a>
                </div>
                <!-- Home button -->
                <div class="fl-col-fixed fl-force-left">
                    <a rsf:id="scr=null" class="flc-navigationBar-home fl-button" href="#">
                        <img class="fl-button-inner fl-button-icon" src="../../../../fluid-engage-core/shared/images/home.png" alt="Go home"/>
                    </a>
                </div>
                <!-- Toggle button -->
                <div class="fl-col-fixed fl-force-right">
                    <a rsf:id="scr=null" class="flc-navigationBar-toggle fl-button" href="#">
                        <img class="flc-navigationBar-toggle-grid fl-button-inner fl-button-icon" src="../../../../fluid-engage-core/shared/images/toggle-grid.png" alt="Switch to grid layout"/>
                        <img class="flc-navigationBar-toggle-list fl-button-inner fl-button-icon" src="../../../../fluid-engage-core/shared/images/toggle-list.png" alt="Switch to list layout"/>
                    </a>
                </div>
                <!-- Page header -->
                <h1 class="flc-myCollection-title fl-navbar-title fl-col-flex">My Collection</h1>
            </div>

            <div class="flc-myCollection-emptyStatus"></div>
	
			<div class="fl-myCollection-loadMessage fl-note fl-bevel-white">
				Loading...
			</div>
	

	  		<form class="flc-myCollection-imageContainer">
				<div class="flc-navigationList">					
				</div>
			</form>
			
					
			<!-- hidden link to the navigation list template -->
			<a class="flc-myCollection-navigationList-link" href="../../../../fluid-engage-core/components/navigationList/html/NavigationList.html"/>
		</div>

		<script id="flc-initBlock" type="text/javascript">
			fluid.engage.initComponentWithLocalData("fluid.engage.myCollection", ".flc-myCollection");
		</script>
	</body>
</html>