.fl-catalogue .fl-catalogue-themes h2 {
    padding: 10px 0 10px 5px;
    margin: 0;
    border-top:1px solid #ccc;
}
.fl-catalogue .fl-catalogue-linkToThemeArtifactsContainer {
    font-size:12px;
    text-align:right;
}
.fl-catalogue .fl-catalogue-linkToThemeArtifactsContainer a {
    padding-right:24px;
}
.fl-catalogue .fl-navigationList-container.fl-grid {
    padding-bottom:10px;
}
/*************** Engage theme for component ********************************/
.fl-theme-engageMobile .fl-catalogue .fl-catalogue-themes {
    background: -webkit-gradient(linear, left top, left bottom, from(#EBEBEB), to(#F5F5F5));
}
.fl-theme-engageMobile .fl-catalogue .fl-catalogue-themes h2 {
    color:#000;
    font-size:15px;
}
.fl-theme-engageMobile .fl-catalogue .fl-catalogue-linkToArtifactsHeader {
    background-color: white;
}
.fl-theme-engageMobile .fl-catalogue .fl-catalogue-linkToThemeArtifactsContainer {
    border:none;
    background-color: #FBFBFB;
}
.fl-theme-engageMobile .fl-catalogue .fl-catalogue-linkToThemeArtifactsContainer a {
    background: url(../../../../fluid-infusion/src/webapp/framework/fss/images/themes/iphone/listmenu_arrow.png) no-repeat right 5px;
}
.fl-theme-engageMobile .fl-catalogue .flc-catalogue-linkToArtifactsText {
    background: none;
}
.fl-theme-engageMobile .fl-catalogue .fl-list-menu {
    background-color:#fff;
}
.fl-theme-engageMobile .fl-catalogue .fl-grid {
    background-color: transparent;
}