.fl-catalogue .fl-catalogue-themes h2 {
    padding: 5px 0 5px 5px;
    margin: 0;
}

.flc-catalogue-linkToArtifactsText {
    margin-left: 0;
}

.fl-catalogue-linkToThemeArtifactsText {
    padding-right: 20px;
}

[class*=fl-list] {
    margin: 0px;
}

.fl-list-thumbnails > li{
    border-left-width: 0;
    border-right-width: 0;
}

.fl-list-thumbnails > li:last-child {
    border-bottom-width: 0px;
}

[class*=fl-list] > li:first-child {
    border-top: none;
}

[class*=fl-list] li.fl-catalogue-linkToThemeArtifactsContainer {
    border-top: none;
}

.fl-list-menu li a {
    padding-bottom: 0px;
}

[class*=fl-list] li.fl-catalogue-linkToThemeArtifactsContainer a.fl-catalogue-linkToThemeArtifacts {
    font-size: 0.7em;
}

/*************** Engage theme for component ********************************/
.fl-theme-engageMobile .fl-catalogue .fl-catalogue-themes h2 {
    background: -webkit-gradient(linear, left top, left bottom, from(#EEE9E9), to(#F5F5F5));
}
.fl-theme-engageMobile .fl-catalogue-linkToArtifactsHeader {
    background-color: white;
}
.fl-theme-engageMobile a.fl-catalogue-linkToArtifacts {
    background: url(../../../../fluid-infusion/src/webapp/framework/fss/images/themes/iphone/listmenu_arrow.png) no-repeat right 5px;
}
.fl-theme-engageMobile .flc-catalogue-linkToArtifactsText {
    background: none;
}
.fl-theme-engageMobile .fl-list-menu.fl-list-thumbnails.fl-thumbnails-expanded.fl-grid {
    background-color: white;
}
.fl-theme-engageMobile [class*=fl-list] li.fl-catalogue-linkToThemeArtifactsContainer {
    background-color: #FBFBFB;
}