<div class="flc-screenNavigator-navbar fl-navbar fl-table">
    <div class="fl-table-row">              
        <h1 class="flc-exhibition-title fl-table-cell">Exhibition Name</h1>                          
    </div>
</div>
<ol class="fl-list-menu fl-list-thumbnails fl-thumbnails-expanded">
    <li>
        <a href="">
            <span class="fl-exhibition-detail-header">About...</span>
            <img src="../images/a.jpg" alt="Exhibition Image" class="flc-exhibition-image fl-icon" />
            <span class="flc-exhibition-displayDate fl-link-summary">Display Date</span>
            <span class="flc-exhibition-description fl-link-summary">Exhibition Description</span>
        </a>
    </li>
    <li>
        <a class="flc-exhibition-catalogueLink" href="">
            Catalogue
            <span class="flc-exhibition-catalogue-size fl-link-summary">N objects</span>
        </a>
    </li>
</ol>
<div class="flc-exhibition-cabinet">
    <div class="flc-cabinet-drawer">
        <div class="flc-cabinet-handle">
            <h2 class="flc-cabinet-header">Header</h2>
        </div>
        <div class="flc-cabinet-contents">
            <ul class="flc-nagivationList-listGroup">
                <li class="flc-navigationList-items">
                    <a class="flc-navigationList-link">
                        <img class="flc-navigationList-image"/>
                        <span class="flc-navigationList-titleText">title/category</span>
                        <span class="flc-navigationList-descriptionText">description</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="flc-cabinet-drawer">
        <div class="flc-cabinet-handle">
            <h2 class="flc-cabinet-header">Header</h2>
        </div>
        <div class="flc-cabinet-contents">
            <ul class="flc-nagivationList-listGroup">
                <li class="flc-navigationList-items">
                    <a class="flc-navigationList-link">
                        <img class="flc-navigationList-image"/>
                        <span class="flc-navigationList-titleText">title/category</span>
                        <span class="flc-navigationList-descriptionText">description</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>