<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;" />
        <meta name="apple-mobile-web-app-capable" content="yes" />
        <title>Exhibition</title>
        
        <link type="text/css" rel="stylesheet" href="../../../../fluid-infusion/src/webapp/framework/fss/css/fss-layout.css" />
        <link type="text/css" rel="stylesheet" href="../../../../fluid-infusion/src/webapp/framework/fss/css/fss-mobile-layout.css" />
        
        <link type="text/css" rel="stylesheet" href="../../../../fluid-engage-core/shared/css/engage-mobile-theme.css" />
		<link type="text/css" rel="stylesheet" href="../../../../fluid-engage-core/shared/css/engage-mobile-layout.css" />
        
        <link type="text/css" rel="stylesheet" href="../../../../fluid-engage-core/components/exhibition/css/Exhibition.css" />
        <link type="text/css" rel="stylesheet" href="../../../../fluid-engage-core/components/navigationList/css/NavigationList.css" />
        <link type="text/css" rel="stylesheet" href="../../../../fluid-engage-core/shared/css/engage-components-navigationList.css" />
        
        <script type="text/javascript" src="../../../../fluid-infusion/src/webapp/lib/jquery/core/js/jquery.js"></script>
        <script type="text/javascript" src="../../../../fluid-infusion/src/webapp/lib/json/js/json2.js"></script>
        <script type="text/javascript" src="../../../../fluid-infusion/src/webapp/framework/core/js/Fluid.js"></script>
        <script type="text/javascript" src="../../../../fluid-infusion/src/webapp/framework/core/js/FluidDOMUtilities.js"></script>
        <script type="text/javascript" src="../../../../fluid-infusion/src/webapp/framework/core/js/DataBinding.js"></script>
        <script type="text/javascript" src="../../../../fluid-infusion/src/webapp/framework/renderer/js/fluidParser.js"></script>
        <script type="text/javascript" src="../../../../fluid-infusion/src/webapp/framework/renderer/js/fluidRenderer.js"></script>
        <script type="text/javascript" src="../../../../fluid-infusion/src/webapp/lib/fastXmlPull/js/fastXmlPull.js"></script>

        <script type="text/javascript" src="../../../../fluid-engage-core/framework/js/kettleCore.js"></script>
        <script type="text/javascript" src="../../../../fluid-engage-core/framework/js/URLUtilities.js"></script>
        <script type="text/javascript" src="../../../../fluid-engage-core/framework/js/engageRenderUtils.js"></script>
        <script type="text/javascript" src="../../../../fluid-engage-core/framework/js/loadData.js"></script>
        <script type="text/javascript" src="../../../../fluid-engage-core/components/navigationBar/js/NavigationBar.js"></script>
        <script type="text/javascript" src="../../../../fluid-engage-core/components/navigationList/js/NavigationList.js"></script>
        <script type="text/javascript" src="../../../../fluid-engage-core/components/exhibition/js/ExhibitionView.js"></script>

        <!-- Dependencies for Guestbook - will one day be applied automatically -->        
        <script type="text/javascript" src="../../../../fluid-engage-core/lib/jquery/plugins/cookie/js/jquery.cookie.js"></script>  
        <script type="text/javascript" src="../../../../fluid-engage-core/lib/jquery/datepicker/ui.datepicker-stub.js"></script>
        <script type="text/javascript" src="../../../../fluid-engage-core/lib/jquery/datepicker/i18n/jquery.ui.datepicker-en-GB.js"></script>
        <script type="text/javascript" src="../../../../fluid-engage-core/lib/jquery/datepicker/i18n/jquery.ui.datepicker-fr.js"></script>
        <script type="text/javascript" src="../../../../fluid-engage-core/framework/js/dateUtils.js"></script>
        <script type="text/javascript" src="../../../../fluid-engage-core/components/guestbook/js/guestbook.js"></script>
        <script type="text/javascript" src="../../../../fluid-engage-core/framework/js/user.js"></script>
        
        <link type="text/css" rel="stylesheet" href="../../guestbook/css/guestbook.css" />
        
    </head>   
    <body class="fl-theme-engageMobile">
        <div class="flc-exhibition-container fl-exhibition">
            
            <!-- Navigation Bar and Header -->
            <div class="flc-navigationBar fl-navbar">
                <!-- Back button -->
				<a rsf:id="scr=null" href="#" class="flc-navigationBar-back fl-force-left fl-button fl-backButton">
					<img class="fl-button-inner" src="../../../../fluid-engage-core/shared/images/back.png" alt="Go back" />
				</a>
				<!-- Home button -->
				<a rsf:id="scr=null" href="#" class="flc-navigationBar-home fl-force-left fl-button">
					<img class="fl-button-inner" src="../../../../fluid-engage-core/shared/images/home.png" alt="Go home" />
				</a>
                <!-- Page header -->
                <h1 class="flc-exhibition-navBarTitle fl-navbar-title">Exhibition View</h1>
            </div>

            <ol class="fl-list">
                <li>
                    <h2 class="flc-exhibition-title fl-exhibition-title">title</h2>
                    <div class="fl-exhibitionAbout-textBlock">
                        <div class="flc-exhibition-shortDescription fl-exhibition-shortDescription">Short Description</div>
                        <div class="flc-exhibition-displayDate fl-exhibition-displayDate">Display Date</div>
                    </div>

                    <a class="flc-exhibition-aboutLink fl-button" href="#">
                        <span class="flc-exhibition-aboutLinkText">link</span>
                    </a>
                </li>
                
                <li class="flc-exhibition-catalogue fl-navigationList">                    
                    <h3 class="flc-exhibition-catalogue-title">catalogue</h3>                    
                    <ul class="flc-navigationList-listGroup fl-navigationList-container fl-list-menu fl-list-thumbnails fl-grid">
                        <li class="flc-navigationList-items flc-navigationList-linkContainer">                    
                            <div class="fl-navigationList-wrapper">
                                <a class="flc-navigationList-link">
                                    <img class="flc-navigationList-image fl-icon"/>
                                    <span class="flc-navigationList-badge-icon fl-engage-badge-icon"></span>
                                    <span class="flc-navigationList-titleText fl-navigationList-title">title/category</span>
                                    <span class="flc-navigationList-descriptionText fl-link-summary">description</span>                            
                                </a>                
                            </div>
                            <div class="fl-grid-caption flc-navigationList-titleText">
                                title/category
                            </div>
                        </li>
                    </ul>

                    <a class="flc-exhibition-catalogueLink fl-button" href="#">
                        <span class="flc-exhibition-catalogueLinkText">link</span>
                    </a>
                </li>
                
                <li>                    
                    <h3 class="flc-exhibition-guestbookHeader">guestbook</h3>                    
                    <div class="flc-exhibition-guestbook">Actual Guestbook component will appear here</div>                    
                    <div class="flc-exhibition-guestbookInvitation fl-link-summary"></div>                    
                    <a class="flc-exhibition-guestbookLink fl-button" href="#">
                        <span class="flc-exhibition-guestbookLinkText">link</span>
                    </a>
                </li>
            </ol>
        </div>
        <script id="flc-initBlock" type="text/javascript">
            fluid.engage.initComponentWithLocalData("fluid.engage.exhibitionView", ".flc-exhibition-container");
        </script>
    </body>
</html>