.fl-view {
    position:absolute;
    width:100%;
    z-index:100;    
    -webkit-transform: translateX(0%);
}
.fl-offScreen-right {
    -webkit-transform: translateX(100%);
}
.fl-offScreen-left {
    -webkit-transform: translateX(-100%);
}
