<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;" />
        <meta name="apple-mobile-web-app-capable" content="yes" />
        <title>McCord</title>

        <link rel="apple-touch-icon" href="../../../../fluid-engage-core/components/home/images/apple-touch-icon.png"/>

        <link type="text/css" rel="stylesheet" href="../../../../fluid-infusion/src/webapp/framework/fss/css/fss-layout.css" />
        <link type="text/css" rel="stylesheet" href="../../../../fluid-infusion/src/webapp/framework/fss/css/fss-mobile-layout.css" />
        <link type="text/css" rel="stylesheet" href="../../../../fluid-infusion/src/webapp/framework/fss/css/fss-mobile-theme-iphone.css" />

        <link type="text/css" rel="stylesheet" href="../../../../fluid-engage-core/shared/css/engage-mobile.css" />
        <link type="text/css" rel="stylesheet" href="../../../../fluid-engage-core/components/navigationBar/css/NavigationBar.css" />
        <link type="text/css" rel="stylesheet" href="../../../../fluid-engage-core/components/navigationList/css/NavigationList.css" />
        <link type="text/css" rel="stylesheet" href="../../../../fluid-engage-core/components/cabinet/css/Cabinet.css" />

        <script type="text/javascript" src="../../../../fluid-infusion/src/webapp/MyInfusion.js"></script>
        <script type="text/javascript" src="../../../../fluid-engage-core/MyEngage.js"></script>
       
        <script type="text/javascript" src="../../../../fluid-engage-core/lib/jquery/plugins/hashchange/js/jquery.ba-hashchange.js"></script>
        
        <script type="text/javascript" src="../js/condenser.js"></script>
    </head>   
    
    <body class="fl-theme-iphone fl-home-white-background">
        <div class="flc-navigator-portal">
        </div>
        <script id="flc-initBlock" type="text/javascript">
            fluid.engage.screenNavigator(".flc-navigator-portal", "../app/home.html");
        </script>
    </body>
</html>