<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1"></meta>
		<meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;"></meta>
		<meta name="apple-mobile-web-app-capable" content="yes"></meta>
		
		<title>Code entry</title>

        <link type="text/css" rel="stylesheet" href="../../../../fluid-infusion/src/webapp/framework/fss/css/fss-layout.css" />
        <link type="text/css" rel="stylesheet" href="../../../../fluid-infusion/src/webapp/framework/fss/css/fss-mobile-theme-iphone.css" />
        <link type="text/css" rel="stylesheet" href="../../../../fluid-infusion/src/webapp/framework/fss/css/fss-mobile-layout.css" />
        <link type="text/css" rel="stylesheet" href="../../../../fluid-engage-core/components/navigationBar/css/NavigationBar.css" />
        <link type="text/css" rel="stylesheet" href="../../../../fluid-engage-core/shared/css/engage-mobile.css" />
		<link type="text/css" rel="stylesheet" href="../../../../fluid-engage-core/components/codeEntry/css/codeEntry.css" />

		
        <script type="text/javascript" src="../../../../fluid-infusion/src/webapp/lib/jquery/core/js/jquery.js"></script>
        <script type="text/javascript" src="../../../../fluid-infusion/src/webapp/lib/json/js/json2.js"></script>
        <script type="text/javascript" src="../../../../fluid-infusion/src/webapp/framework/core/js/Fluid.js"></script>
        <script type="text/javascript" src="../../../../fluid-engage-core/components/navigationBar/js/NavigationBar.js"></script>	
   		<script type="text/javascript" src="../../../../fluid-engage-core/components/codeEntry/js/CodeEntryView.js"></script>
	</head>
	<body class="fl-theme-iphone">
		
		<div class="flc-codeEntry">
		    
            <!-- Navigation Bar and Header -->
            <div class="flc-navigationBar fl-navbar fl-col-mixed">
                <!-- Back button -->
                <div class="fl-col-fixed fl-force-left">
                    <a rsf:id="scr=null" class="flc-navigationBar-back fl-button fl-backButton" href="#">
                        <img class="fl-button-inner fl-button-icon" src="../../../../fluid-engage-core/shared/images/back.png" alt="Go back"/>
                    </a>
                </div>
                <!-- Page header -->
                <h1 class="flc-codeEntry-title fl-navbar-title fl-col-flex">Enter an Object Code</h1>
            </div>
			
        	<div class="flc-codeEntry-headMessage fl-codeEntry-headMessage"></div>            
	
	        <div class="flc-codeEntry-block fl-codeEntry-block">
	            <span class="flc-codeEntry-firstDigit fl-codeEntry-digitField"></span>
	            <span class="flc-codeEntry-secondDigit fl-codeEntry-digitField"></span>
			</div>
			
			<div class="flc-codeEntry-numpad fl-codeEntry-numpad fl-table">
				<div class="fl-table-row">
					<img class="flc-codeEntry-numButton" role="button" src="../../../../fluid-engage-core/components/codeEntry/images/1.png" alt="1"/>
					<img class="flc-codeEntry-numButton fl-codeEntry-middleButton" role="button" src="../../../../fluid-engage-core/components/codeEntry/images/2.png" alt="2"/>
					<img class="flc-codeEntry-numButton" role="button" src="../../../../fluid-engage-core/components/codeEntry/images/3.png" alt="3"/>
				</div>
				<div class="fl-table-row">
					<img class="flc-codeEntry-numButton" role="button" src="../../../../fluid-engage-core/components/codeEntry/images/4.png" alt="4"/>
					<img class="flc-codeEntry-numButton fl-codeEntry-middleButton" role="button" src="../../../../fluid-engage-core/components/codeEntry/images/5.png" alt="5"/>
					<img class="flc-codeEntry-numButton" role="button" src="../../../../fluid-engage-core/components/codeEntry/images/6.png" alt="6"/>
				</div>
				<div class="fl-table-row">
					<img class="flc-codeEntry-numButton" role="button" src="../../../../fluid-engage-core/components/codeEntry/images/7.png" alt="7"/>
					<img class="flc-codeEntry-numButton fl-codeEntry-middleButton" role="button" src="../../../../fluid-engage-core/components/codeEntry/images/8.png" alt="8"/>
					<img class="flc-codeEntry-numButton" role="button" src="../../../../fluid-engage-core/components/codeEntry/images/9.png" alt="9"/>
				</div>
				<div class="fl-table-row">
					<img src="../../../../fluid-engage-core/components/codeEntry/images/blank.png" alt=""/>
					<img class="flc-codeEntry-numButton fl-codeEntry-middleButton" role="button" src="../../../../fluid-engage-core/components/codeEntry/images/0.png" alt="0"/>
					<img class="flc-codeEntry-delButton" role="button" src="../../../../fluid-engage-core/components/codeEntry/images/del.png" alt="Delete"/>
				</div>
			</div>
		</div>
				
        <script id="flc-initBlock" type="text/javascript">
        </script>
	</body>
</html>