.fl-cabinet {
	overflow:auto;
}
.fl-cabinet-handle {
	padding:5px 0 5px 16px;
	margin:0;
    background-color:#999;
}
.fl-cabinet-handle a {
	text-decoration:none;
    color:#fff;
}
.fl-cabinet-handle:hover,
.fl-cabinet-handle:focus,
.fl-cabinet-drawerOpened .fl-cabinet-handle:focus {
    background-color:#ccc;
}
.fl-cabinet-drawerOpened .fl-cabinet-handle {
    background-color:#666;
}
.fl-cabinet-handle:focus,
.fl-cabinet-drawerOpened .fl-cabinet-handle {
    outline:none;
    color:#fff;
}

.fl-cabinet-drawerClosed .fl-cabinet-contents {
	display:none;
}
.fl-cabinet-drawerClosed .fl-cabinet-handle {
	background-position:left 5px;
}

/************************ Theme Modifications *********************/
/* add an "ndash" and a non-breaking space before the header */
.fl-theme-iphone .fl-cabinet-handle::before {
    content:"\2013\00A0";
}
/* add an "+" and a non-breaking space before the header */
.fl-theme-iphone .fl-cabinet-drawerClosed .fl-cabinet-handle::before{
    content:"+\00A0";
}
/* add an "ndash" and a non-breaking space before the header */
.fl-theme-android .fl-cabinet-handle::before {
	content:"\2013\00A0";
}
/* add an "+" and a non-breaking space before the header */
.fl-theme-android .fl-cabinet-drawerClosed .fl-cabinet-handle::before{
	content:"+\00A0";
}
.fl-theme-mist .fl-cabinet-drawerOpened .fl-cabinet-handle {
	background-color:#5A95CF;
}
.fl-theme-mist .fl-cabinet-drawerOpened .fl-cabinet-handle a {
	color:#fff;
}
.fl-theme-mist .fl-cabinet-drawerOpened .fl-cabinet-handle:focus,
.fl-theme-mist .fl-cabinet-drawerClosed .fl-cabinet-handle:focus {
	background-color:#6DB5FB;
}
.fl-theme-mist .fl-cabinet-drawerOpened .fl-cabinet-handle:focus a,
.fl-theme-mist .fl-cabinet-drawerClosed .fl-cabinet-handle:focus a {
	color:#fff;
}

.fl-theme-coal .fl-cabinet-drawerOpened .fl-cabinet-handle {
	background-color:#333;
}
.fl-theme-coal .fl-cabinet-drawerOpened .fl-cabinet-handle a {
	color:#fff;
}
.fl-theme-coal .fl-cabinet-drawerOpened .fl-cabinet-handle:focus,
.fl-theme-coal .fl-cabinet-drawerClosed .fl-cabinet-handle:focus {
	background-color:#666;
}
.fl-theme-coal .fl-cabinet-drawerOpened .fl-cabinet-handle:focus a,
.fl-theme-coal .fl-cabinet-drawerClosed .fl-cabinet-handle:focus a {
	color:#fff;
}
